/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box-shadow{
  -webkit-box-shadow: rgba(0,0,0,0.09) 0 2px 0;
  -moz-box-shadow: rgba(0,0,0,0.09) 0 2px 0;
  box-shadow: rgba(0,0,0,0.09) 0 2px 0;
}

$main: #94BA43;
$secondary: #FD8B1E;
$light: #F3F7FA;

body {
  background: $light;
}

.main_content {
  padding: 0 0 50px 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  @include box-shadow;
  background-color: $main;
  color: white;
  font-weight: normal;
}

.navbar {
  margin-bottom: 20px;
  @include box-shadow;
  border: none;
  .navbar-brand:hover {
    text-decoration: none !important;
    opacity: 0.3;
  }
  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 7px;
    a {
      color: $main;
      text-decoration: none;
    }
  }
}
.signup_btn:hover {
  background-color: $secondary !important;
  opacity: 0.3;
}
.signup_btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: .8em;
  border: none;
  border-radius: 3px;
  background-color: $secondary;
  color: white !important;
  margin: 7px 10px 7px 0px;
}
.signup_btn:hover {
  background: $secondary;
}

.recipe {
  background: white;
  border-radius: 5px;
  margin: 10px 0px 40px 0px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  h2 {
    padding: 15px 5%;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    a {
      color: $main;
      font-weight: bold;
    }
    a:hover {
      opacity: 0.3;
      text-decoration: none !important;
    }
  }
}

#recipe_top {
  margin-bottom: 50px;
}

#recipe_info, #ingredients, #directions {
  background: white;
  @include box-shadow;
  min-height: 300px;
  border-radius: 5px;
  padding: 2em 8%;
}

.recipe_image {
  max-width: 101%;
  @include box-shadow;
  border-radius: 5px;
}

#recipe_info {
  h1 {
    font-size: 36px;
    color: $main;
  }
  .description {
    color: $main;
    font-size: 20px;
  }
}

#ingredients, #directions {
  margin-bottom: 50px;
  ul, ol {
    padding-left: 18px;
    li {
      padding: 1em 0;
      border-bottom: 1px solid #EAEAEA;
    }
  }
}

.form-inline {
  margin-top: 15px;
}

.form-input {
  width: 65% !important;
  float: left;
}

.form-button {
  float: left;
  width: 30% !important;
  margin-left: 5%;
}

.add-button {
  margin-top: 25px;
}
